*,*::before,*::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Karla', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
  background-image: url("./assets/bottom blob.png"), url("./assets/top blob.png");
  background-repeat: no-repeat;
  background-position: bottom left, top right;
  color: #293264;
}
h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0;
}

.landing{
  text-align: center;
  background-repeat: no-repeat;
}
.landing p{
  margin-top: 7px;
}
.landing button{
  min-width: 12rem;
  margin-top: 30px;
  padding: 1rem 1.8rem;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  border-radius: 1rem;
}
.landing button:active{
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.questions_wrapper{
  padding: 1.5rem;
}

.questions + .questions{
  margin-top: 1.5rem;
}

.options{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  margin-top: .75rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.options span{
  border: 1px solid #4D5B9E;
  padding: 0.25rem 0.96rem;
  border-radius: 8px;
  text-align: center;
}

.options span + span{
  margin-left: 0.82rem;
}
.options span:nth-last-child(2){
  margin-right: 0.82rem;
}
.options span:last-child{
  margin-left: 0;
}
.questions hr{
  margin-top: .9rem;
  color: #DBDEF0;
}

.options .clicked{
  border: 1px solid #D6DBF5;
  color: inherit;
  background-color: #D6DBF5;
}